{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<h1>About Us</h1>
            <div class="left-align">
                <p>Hi, I'm <span class="improov-text">Vedesh Pandya</span> , a dedicated computer science student currently navigating the exciting world of technology at College. The journey of creating <span class="improov-text">Improov</span> stems from my deep belief in the <span class="imp-text">potential of the internet and social media.</span></p>
                <p>As a student, I've spent countless hours online, just like many of you. I've witnessed firsthand how these platforms can provide incredible resources and information. However, I've also noticed a significant flaw: social media apps are primarily designed to keep us hooked, often bombarding us with content that <span class="imp-text">distracts</span> rather than <span class="imp-text">enriches</span> us.</p>
                <p>This realization sparked the idea for <span class="improov-text">Improov</span>. I envisioned a platform that diverges from the conventional path of social media. Improov is designed with a purpose—to help users like you and me consume meaningful, valuable content that aids in our journey of <span class="imp-text">self-improvement</span>.</p>
                <p>I believe in the power of continuous growth, in getting better day by day, in nurturing the <span class="improov-text">mind</span>, <span class="improov-text">body</span>, and <span class="improov-text">soul</span>. <span class="improov-text">Improov</span> is not just an app; it's a tool to help us all become the best versions of ourselves. It’s a community where we can share our real lives, our challenges, and our triumphs, all while supporting each other in the quest for <span class="imp-text">self-improvement</span>.</p>
                <p>Through <span class="improov-text">Improov</span>, I aim to create a space that prioritizes our well-being and growth over endless scrolling and mindless consumption. Let's embrace this journey together, making every day a step towards a better, more enriched life.</p>
                <p>Thank you for being a part of this transformative journey.</p>
                <p>Warm regards,</p>
                <p>Vedesh Pandya</p>
            </div>
{% endblock %}