{% extends "layout.html" %}

{% block title %}
    Know More
{% endblock %}

{% block main %}
    <!-- or image here  -->
    <div class="improov-title">
        <h1>Improov</h1>
    </div>
    <div class="know-more-full">
        <div class="section">
            <h4>The Current Scenario of Our Digital World with Social Media</h4>
            <h3>Social Media Today: Connected Yet Disconnected</h3></li>
            <h5>Navigating the Digital Age</h5>
            <p>Have you ever wondered how much time the apps on your mobile phone take away from you? Yes, you probably have, and maybe you've even checked. While our devices are incredibly useful, they only become truly valuable if we use them wisely</p>
            <p>
                <ul>
                    <li>Overwhelming Connectivity:</li>
                    <p>Social media connects billions of people around the globe, but at what cost? We are constantly online, but this hyper-connectivity often leads to a sense of isolation rather than genuine connection. The digital world offers a never-ending stream of content, which can be both a blessing and a curse.</p>
                    <li>Information Overload:</li>
                    <p>Our screens are dominated by social media applications that bombard us with endless information and dopamine hits, making them highly addictive. This constant influx of information can lead to mental fatigue, making it difficult to focus on what truly matters. We end up consuming vast amounts of content that adds little value to our lives, while the truly beneficial information gets lost in the noise.</p>
                    <li>Superficial Connections:</li>
                    <p>Algorithms are designed to keep us hooked, often at the expense of real-life connections and productivity. We might have hundreds of friends and followers, but how many of these relationships are truly meaningful? The digital world often promotes superficial interactions over deep, meaningful connections.</p>
                    <li>Digital Distractions:</li>
                    <p>The constant stream of notifications and updates can lead to mental fatigue and reduced mindfulness. These distractions can disrupt our daily routines, reducing productivity and impacting our overall well-being. It's easy to get lost in a cycle of checking updates, responding to messages, and scrolling through feeds, all of which take time away from more important activities.</p>

                </ul>
            </p>
        </div>
        <div class="section">
            <h4>Side Effects of Social Media Based on Research</h4>
            <h3>The Hidden Costs of Our Digital Lives</h3>
            <h5>Unpacking the Impact of Social Media</h5>
            <p>The negative effects of social media seem never-ending. Here’s a comprehensive list of the ways it can impact our lives:</p>
            <ul>
                <li>Mental Health Issues:</li>
                <p>Social media can contribute to feelings of depression and anxiety. Constant exposure to idealized images and lifestyles can lead to feelings of inadequacy and low self-esteem. The pressure to maintain a perfect online presence can be overwhelming, leading to stress and 
                    anxiety.
                </p>
                <li>Loneliness:</li>
                <p>
                    Despite connecting with more people, users often feel lonelier. Virtual interactions can’t replace the warmth and satisfaction of face-to-face communication. The more time we spend online, the less time we have for real-life social interactions, which can lead to a sense of isolation.</p>
                <li>Self-Harm and Suicidal Thoughts:</li>
                <p>Exposure to negative content can lead to harmful thoughts. Cyberbullying, harassment, and exposure to harmful content can have serious mental health consequences, especially for vulnerable individuals.</p>
                <li>Inadequacy About Your Life or Appearance:</li>
                <p>Constant comparison can make you feel inadequate. Social media often showcases the highlights of others' lives, leading to unrealistic comparisons and feelings of inadequacy about one's own life and appearance.</p>
                <li>FOMO (Fear of Missing Out):</li>
                <p>Seeing others’ highlight reels can make you feel left out. The fear of missing out on experiences, events, and opportunities can lead to constant checking and engagement with social media, which can be exhausting.</p>
                <li>Isolation:</li>
                <p>Increased screen time can lead to social isolation. Spending too much time online can take away from real-life interactions, leading to feelings of isolation and loneliness.
                </p>
                <li>Cyberbullying:</li>
                <p>Online harassment is a serious issue. Cyberbullying can have devastating effects on mental health, leading to anxiety, depression, and in severe cases, suicidal thoughts.</p>
                <li>Self-Absorption:</li>
                <p>Excessive social media use can lead to narcissistic behavior. The constant need for validation through likes, comments, and shares can promote self-absorption and narcissism.
                </p>
                <li>Reduced Concentration and Focus:</li>
                <p>Constant notifications can reduce your ability to concentrate. The frequent interruptions from notifications and updates can make it difficult to focus on tasks and maintain productivity.
                </p>
                <li>Disrupted Sleep:</li>
                <p>Screen time before bed affects sleep quality. The blue light emitted by screens can interfere with sleep patterns, leading to poor sleep quality and fatigue.
                </p>
                <li>Reduced Attention Span and Memory:</li>
                <p>Overuse can impair cognitive functions. The constant switching between tasks and information can reduce our ability to concentrate and remember important information.
                </p>
                <li>Strain on Relationships:</li>
                <p>Digital distractions can harm real-life relationships. Spending too much time on social media can take away from time spent with family and friends, leading to strained relationships.</p>
                <li>Information and Cognitive Overload:</li>
                <p>Too much information can overwhelm the brain. The constant influx of information can be overwhelming, leading to cognitive overload and difficulty processing important information.
                </p>
                <li>Divided Attention:</li>
                <p>Multitasking on social media reduces efficiency. The habit of multitasking while using social media can reduce our ability to focus and complete tasks efficiently.</p>
                <li>Increased ADHD Symptoms:</li>
                <p>Social media can exacerbate ADHD symptoms. The constant stimulation from social media can worsen symptoms of ADHD, making it difficult to focus and stay organized.
                </p>
                <li>Academic and General Distraction:</li>
                <p>Students and professionals alike suffer from distractions. The frequent use of social media can lead to distractions from academic and professional responsibilities, reducing productivity and performance.
                </p>
                <li>Tons and Tons of Wasted <span class="imp-text">TIME</span>:</li>
                <p>Countless hours are lost to scrolling and browsing. The addictive nature of social media can lead to hours of wasted time that could be spent on more productive and fulfilling activities.
                </p>
            </ul>
            <img src="https://pbs.twimg.com/media/GPOu0D4WcAAk_o4?format=png&name=900x900" class="responsive-img">
            <p>Younger generations are increasingly addicted to social media, leading to potential mental health issues.</p>
            <p>   </p>
            <img src="https://pbs.twimg.com/media/GPOvWGaWAAA7MsC?format=jpg&name=large" class="responsive-img">
            <p>Billions are hooked: Social media's pervasive reach fuels isolation and misinformation.</p>
            <p>   </p>
            <img src="https://pbs.twimg.com/media/GPOvi3XWQAEIgRi?format=jpg&name=large" class="responsive-img">
            <p>Rising screen time is alarming, contributing to a sedentary lifestyle and decreased productivity.</p>
        </div>
        <div class="section">
            <h4>How <span class="improov-text">Improov</span> Will Bring the Change</h4>
            <h3>Improov: Redefining Your Digital Experience</h3>
            <h5><span class="imp-text">Learn, Connect,</span><span class="improov-text"> Improov</span></h5>
            <ul>
                <p>But couldn’t there be a better solution to this problem? What if we could avoid missing out on valuable information that helps us move forward and improve our lives? What if we could harness the power of social media to enhance our lives instead of detracting from them?</p>
                <li>Mindful Usage:</li>
                <p>Tools to monitor and limit screen time, ensuring your phone enhances your life without overwhelming it. Improov helps you stay mindful of your technology usage, promoting a balanced and healthy relationship with your devices.</p>
                <li>Authentic Connections:</li>
                <p>Build real relationships through communities focused on self-improvement and societal betterment. Improov fosters genuine connections by providing a platform for meaningful interactions and community support.</p>
                <li>Self-Improvement:</li>
                <p>Access courses, blogs, and resources tailored to personal growth. Improov offers a wealth of resources to help you on your journey of self-improvement, from educational courses to insightful blog posts.</p>
                <li>Positive Content:</li>
                <p>Consume and share meaningful content that enriches your life, free from distractions. Improov curates valuable information and positive content, ensuring that you spend your time online in a meaningful and productive way.</p>
            </ul>
        </div>
        <div>
            <h2>Join <span class="improov-text">Improov</span> Today – Be a Part of the <span class="imp-text">Change</span></h2>
        </div>
        {% if not session["user_id"] %}
        <form action="/signup" method="get">
            <div style="padding: 20px">
                <button class="btn btn-outline-success" type="submit">Sign Up</button>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}